.play-mat {
    background-color: var(--play-mat-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  h1 {
    font-family: "Chicle";
    font-size: 5.5rem;
    color: #c50101;
    text-shadow: 5px 5px #020202;
    padding-bottom: 2rem;
  }

  @media screen and (width > 768px){
    h1{
      font-size: 7.5rem;
      
    }
  }

 