.play-mat {
    background-color: var(--play-mat-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }

  .title {
    font-family: "Chicle";
    font-size: 5.5rem;
    color: var(--main-color);
    text-shadow: 6px 6px #020202;
    cursor: pointer;
  }

  .author {
    font-family: "Outfit";
    font-size: 17px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  .border{
    border: solid 2px black;
    height: 95vh;
    width: 95vw;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  @media screen and (width > 768px){
    .title{
      font-size: 7.5rem;
      
    }
    .border{
      width: 97vw;
    }
    
  }

 