.button-modal {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    border-style: outset;
    position: relative;
    top: 0.5px;
    left: 0.5px;
    right: 0.5px;
    bottom: 0.5px;
}

.container-button {
    margin: auto;
}

@media screen and (width > 768px){
    .button-modal:active {
        color: gray;
    }
}
