.button-modal {
    display: flex;
    padding: 0.5rem 1rem;
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    border: 1.5mm outset white;
    
}

.container-button {
    margin: auto;
    border: 2px solid gray;
}

@media screen and (width > 768px){
    .button-modal:active {
        color: gray;
        background-color: rgb(232, 232, 232);
    }
}
