.card {
  width: 9rem;
  height: 14rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

@media screen and (width < 390px) {
  .card {
    width: 7rem;
  height: 10rem;
  }
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.8s;
}

.card.faceDown .cardInner {
  transform: rotateY(0deg);
}

.card.faceUp .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.cardBack {
  background: 
    repeating-linear-gradient(45deg, #ffffff -4px, #ffffff 0px, red 0px, red 7px);
  background-size: 20px 20px; /* Taille des carreaux */
  background-color: #ffffff; /* Couleur de fond */
  border: solid 10px white;
}

.cardFront {
  background-color: white;
  transform: rotateY(180deg);
}

#spade, #club, #diamond {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
 }

 #spade {
  background-image: url("/src/Assets/Spade.png");
 }
 
 #club {
  background-image: url("/src/Assets/Club.png");
 }
 
 #diamond {
  background-image: url("/src/Assets/Diamond.png");
 }

 @media screen and (width < 390px) {
  .card {
  width: 7rem;
  height: 10rem;
  }
  #spade, #club, #diamond {
  width: 95%;
  height: 95%;
   }
}