@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Outfit:wght@100..900&display=swap');

:root {
  --play-mat-color: #2b9f2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}