@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Doto:wght@100..900&family=Jersey+15&family=Outfit:wght@100..900&display=swap');:root {
  --play-mat-color: #2b9f2b;
  --main-color: #c50101;
  --modal-color: rgb(203, 202, 202);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}